anyio==3.1.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
comtypes==1.1.10
decorator==5.0.9
defusedxml==0.7.1
docopt==0.6.2
entrypoints==0.3
Flask==2.0.1
gunicorn==20.1.0
idna==2.10
python==3.8.0
ipykernel==5.5.5
ipython==7.24.0
ipython-genutils==0.2.0

mysql-connector-python==8.0.25

